<div id="maidDefenetion" class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <!-- <div class="top-bg accent"></div> -->
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <!-- <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">Full width with content scroll</h2>
        </div> -->
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8" style="font-size: x-large;    background-color: #293955;color: white;">
                <span>{{ _translate.instant('STOCK_MODULE.MASTER_DATA.TITLE')}}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="p-24">

                <mat-form-field class="ml-3 width-10">
                    <mat-select placeholder="{{ _translate.instant('COMMON.PLEASE_SELECT')}}"
                        (selectionChange)="MDChanged($event.value)" autocomplete="off">
                        <mat-option *ngFor="let MD of MasterData" [value]="MD.Value">
                            {{ MD.ViewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="example-container mat-elevation-z8">

                <dx-data-grid #MasterDataGrid id="gridContainer" [dataSource]="MasterDataStore" [showBorders]="true"
                    [masterDetail]="{ enabled: SelectedMDNumber == 3, template: 'detail' }">
                    <ng-container *ngFor="let column of Columns">
                        <dxi-column [caption]="column.caption" [dataField]="column.dataField"></dxi-column>
                    </ng-container>
                    <dxo-editing mode="form" [allowUpdating]="false" [allowDeleting]="true" [allowAdding]="true">
                    </dxo-editing>

                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    <dxo-group-panel [visible]="true"></dxo-group-panel>

                    <div *dxTemplate="let masterData of 'detail'">

                        <!-- <dx-data-grid #masterDetailGrid [showColumnLines]="false" [showRowLines]="true"
                            [showBorders]="true" [rowAlternationEnabled]="true" [dataSource]="MasterDetailStore"
                            [showBorders]="true" [columnAutoWidth]="false"
                            [selectedRowKeys]="masterData.data.ProductPropertyIds">
                            <ng-container *ngFor="let column of MasterDetailColumns">
                                <dxi-column [caption]="column.caption" [dataField]="column.dataField"></dxi-column>
                            </ng-container>

                            <dxo-selection [selectAllMode]="'allPages'" [showCheckBoxesMode]="'always'" mode="multiple">
                            </dxo-selection>
                        </dx-data-grid> -->
                        <dx-tag-box #masterDetailsTagBox [dataSource]="MasterDetailStore" [showSelectionControls]="true"
                            applyValueMode="useButtons" [value]="masterData.data.ProductPropertyIds" [displayExpr]="tagBoxShowValue"
                            valueExpr="Id">
                        </dx-tag-box>
                        <button *ngIf="SelectedMDNumber == 3"
                            (click)="ButtonClick(masterDetailsTagBox.selectedItems,masterData.data.Id)"
                            mat-raised-button color="accent" style="float: right;">
                            {{_translate.instant("STOCK_MODULE.MASTER_DATA.SAVE")}}
                        </button>
                    </div>
                </dx-data-grid>

            </div>
        </div>
    </div>
</div>