<div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxflex="20" fxlayoutalign="center center">
        <form [formGroup]="PaymentMethodsTableFormGroup" autocomplete="off">
            <mat-form-field class=" ml-8">
                <mat-select (selectionChange)="changeValue($event.value)" formControlName="Payment" matInput
                    [placeholder]="'SELLING_MODULE.NORMAL_SALE.SALES_SCREEN.SELECT_PAYMENT'| translate">
                    <mat-optgroup label="Ödeme Yöntemi">
                        <mat-option *ngFor="let payment of paymentsMD" [value]="payment">
                            {{ payment.PaymentName }}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="IsDefferedPayment" class=" ml-8">
                <mat-select placeholder="Vade" formControlName="DefferedPaymentCount" matInput>
                    <mat-option *ngFor="let number of DefferedPaymentCount" [value]="number">{{number}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class=" ml-8">
                <input formControlName="Amount" [ngModel]="Total - TotalPaied" [readOnly]='Total - TotalPaied ==0'
                    matInput style="font-size: 20px;" type="text" placeholder="Miktar">
            </mat-form-field>

            <button [disabled]="!PaymentMethodsTableFormGroup.valid" class="ml-8" matInput mat-raised-button
                color="primary" (click)="AddToPaymentMethodsTable()">{{'COMMON.ADD'| translate}}</button>
        </form>
    </div>
    <div fxflex="20" fxlayoutalign="center center">
        <h1 [ngStyle]="{'color' : (Total - TotalPaied) > 0 ? 'red' : 'green'}">{{Total - TotalPaied}} TL</h1>
    </div>
</div>
<div class="row">
    <div class="example-container mat-elevation-z8 ">
        <mat-table [dataSource]="dataSource" matSort>

            <!-- Şube Kısmı -->
            <ng-container>
                <ng-container matColumnDef="PaymentName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{'SELLING_MODULE.NORMAL_SALE.SALES_SCREEN.PAYMENT_TYPE'| translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row;"> {{row.PaymentName}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef style="font-weight: bold;"> Total </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="DefferedPaymentCount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{'SELLING_MODULE.NORMAL_SALE.SALES_SCREEN.DEFFERED_PAYMENT_COUNT'| translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row;"> {{ row.DefferedPaymentCount }} </mat-cell>
                    <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="Amount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{'SELLING_MODULE.NORMAL_SALE.SALES_SCREEN.AMOUNT' | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row;"> {{ row.Amount }} </mat-cell>
                    <mat-footer-cell *matFooterCellDef style="font-weight: bold;"> {{getTotal()}} </mat-footer-cell>
                </ng-container>
            </ng-container>
            <!-- Şube Kısmı -->

            <mat-header-row *matHeaderRowDef="displayedColumnsInGrid"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsInGrid ;">
            </mat-row>
            <mat-footer-row *matFooterRowDef="displayedColumnsInGrid; sticky: true"> </mat-footer-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>

<div class="row mt-8">
    <mat-grid-list cols="4" rowHeight="2:1">
        <dx-form #formInstance [colCount]="2">
            <dxi-item dataField="CustomerInfo" [label]="{text:'SELLING_MODULE.CHANGE.CUSTOMER_NAME'| translate }"
                editorType="dxSelectBox" [editorOptions]="{ dataSource: customersSelectBoxDatasource,displayExpr:'CustomerName',
            searchMode:'contains',searchExpr:['CustomerName','AccentInsensitiveCustomerName'],
            searchTimeout:300,onValueChanged:this.customerInfoValueChanged,minSearchLength:0,searchEnabled:true,acceptCustomValue:true,
            onCustomItemCreating: this.addCustomerInfoItem}"
                [helpText]="'SELLING_MODULE.CHANGE.CUSTOMERINFO_SELECTBOX_HELPTEXT' | translate">
            </dxi-item>
            <dxi-item dataField="CustomerPhone" [label]="{text:'SELLING_MODULE.CHANGE.CUSTOMER_PHONE'| translate }"
                [editorOptions]="{mask: '(000) 000-0000'}">
                <dxi-validation-rule type="required">
                </dxi-validation-rule>
                <dxi-validation-rule type="numeric">
                </dxi-validation-rule>
            </dxi-item>
            <dxi-item name="submitButton" itemType="button" horizontalAlignment="left"
                [buttonOptions]="formSubmitButtonOptions">
            </dxi-item>
        </dx-form>
    </mat-grid-list>

</div>

<!-- <div class="row mt-8">
    <mat-form-field class=" ml-8">
        <input (paste)="onReceiptCodePaste($event)" 
            [(ngModel)]="ReceiptCode" matInput style="font-size: 20px;" type="text" placeholder="Fiş Kodu">
    </mat-form-field>
    <button [disabled]="dataSource.data.length == 0 || !ReceiptCode " class=" ml-8" mat-raised-button color="accent"
        (click)="ClosePopup()">{{'SELLING_MODULE.NORMAL_SALE.SALES_SCREEN.COMPLETE_PAYMENT')}}</button>
</div> -->