<div id="maidDefenetion" class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <!-- <div class="top-bg accent"></div> -->
    <!-- / TOP BACKGROUND -->

    <!-- CONTENT HEADER -->
    <!-- <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">Full width with content scroll</h2>
        </div> -->
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="center">

        <div fxLayout="row" fxLayoutAlign="start center">
            <dx-tabs #Tabs [dataSource]="tabs" [selectedIndex]="0"></dx-tabs>
        </div>


        <ng-container *ngIf="Tabs.selectedItem?.id == 0">
            <app-sales-component></app-sales-component>
        </ng-container>

        <ng-container *ngIf="Tabs.selectedItem?.id == 2">
            <app-change-component></app-change-component>
        </ng-container>

    </div>
</div>