<div id="maidDefenetion" class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <!-- <div class="top-bg accent"></div> -->
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <!-- <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">Full width with content scroll</h2>
        </div> -->
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar primary px-24 py-8">
                <span>{{'NAV.SOLED_PRODUCTS' | translate}}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->

            <div class="example-container mat-elevation-z8">

                <dx-data-grid #soledProductsGrid [remoteOperations]="true" [hoverStateEnabled]="true"
                    [allowColumnResizing]="true" [allowColumnReordering]="true" [columnAutoWidth]="true"
                    [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
                    id="gridContainer" [dataSource]="soledProductsStore"
                    [masterDetail]="{ enabled: true, template: 'detail' }">
                    <dxo-scrolling columnRenderingMode="virtual" showScrollbar="always"></dxo-scrolling>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    <!-- <dxo-search-panel [visible]="true" [placeholder]="_translate.instant('COMMON.SEARCH')">
            </dxo-search-panel> -->
                    <!-- <dxo-group-panel [visible]="true"></dxo-group-panel> -->
                    <dxo-selection mode="single"></dxo-selection>
                    <dxi-column [caption]="'SELLING_MODULE.NORMAL_SALE.DATE'| translate" dataType="date"
                        dataField="Date" format="dd.MM.yyyy, HH:mm" caption="Title" [filterValue]="today"></dxi-column>
                    <dxi-column [caption]="'SELLING_MODULE.NORMAL_SALE.TOTAL' | translate" alignment="left"
                        dataField="Total" format="currency" dataType="number">
                        <dxo-format type="currency" precision="2"></dxo-format>
                    </dxi-column>
                    <dxi-column [caption]="'SELLING_MODULE.NORMAL_SALE.USER_CODE'| translate" alignment="left"
                        dataField="User.UserCode" dataType="string"></dxi-column>
                    <dxi-column [caption]="'SELLING_MODULE.NORMAL_SALE.BRANCH_NAME'| translate"
                        dataField="Branch.Location" dataType="string"></dxi-column>
                    <dxo-group-panel [visible]="false"></dxo-group-panel>
                    <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
                    <!-- <div class="option" *dxTemplate="let data of 'calendar'">
                <dx-date-box width="100%" [(value)]="RangeStartDate"
                    placeholder="{{_translate.instant('COMMON.START_DATE')}}">
                </dx-date-box>
            </div>
            <div class="option" *dxTemplate="let data of 'calendar2'">
                <dx-date-box width="100%" [(value)]="RangeEndDate"
                    placeholder="{{_translate.instant('COMMON.END_DATE')}}">
                </dx-date-box>
            </div> -->
                    <dxo-summary>
                        <dxi-total-item column="Total" summaryType="sum"
                            [valueFormat]="{type: 'currency', precision:'2'}">
                        </dxi-total-item>
                    </dxo-summary>

                    <div *dxTemplate="let sale of 'detail'">
                        <!--	<div class="master-detail-caption">{{employee.data.FirstName + " " + employee.data.LastName + "'s Tasks:"}}</div>-->
                        <dx-data-grid #soledProductsDetailsGrid [showColumnLines]="false" [showRowLines]="true"
                            [showBorders]="true" [rowAlternationEnabled]="true"
                            [dataSource]="sale.data.SoledProductDetails" [showBorders]="true"
                            [allowColumnResizing]="true" [allowColumnReordering]="true" [columnAutoWidth]="true">
                            <dxo-scrolling columnRenderingMode="virtual" showScrollbar="always"></dxo-scrolling>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.PRODUCT_NAME' | translate"
                                dataField="ProductName"></dxi-column>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.PRODUCT_BARCODE'| translate"
                                dataField="ProductBarcode"></dxi-column>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.PRODUCT_CODE'| translate"
                                dataField="ProductCode"></dxi-column>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.COLOR_NAME'| translate"
                                dataField="ColorName"></dxi-column>
                            <dxi-column width="auto" cellTemplate="cellTemplate"
                                [caption]="'SELLING_MODULE.NORMAL_SALE.GENDER'| translate" dataField="Gender">
                            </dxi-column>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.PRODUCT_YEAR'| translate"
                                dataField="ProductYear"></dxi-column>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.SIZE'| translate"
                                dataField="Size"></dxi-column>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.PRODUCT_COUNT'| translate"
                                dataField="ProductCount"></dxi-column>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.BRANCH_NAME'| translate"
                                dataField="BranchName"></dxi-column>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.SELLING_PRICE'| translate"
                                dataField="Price" format="currency" dataType="number">
                                <dxo-format type="currency" precision="2"></dxo-format>
                            </dxi-column>

                            <div *dxTemplate="let data of 'cellTemplate'">
                                {{data.value ? ('COMMON.FEMALE'| translate): ('COMMON.MALE'| translate) }}
                            </div>
                            <!-- <dxo-search-panel [text]="soledProductsDetailsText" [visible]="false"
                        [placeholder]="_translate.instant('COMMON.SEARCH')">
                    </dxo-search-panel> -->
                        </dx-data-grid>

                        <dx-data-grid #paymentDetailGrid [showColumnLines]="false" [showRowLines]="true"
                            [showBorders]="true" [rowAlternationEnabled]="true" [dataSource]="sale.data.PaymentDetails"
                            [showBorders]="true" [allowColumnResizing]="true" [allowColumnReordering]="true"
                            [columnAutoWidth]="true" class="mt-5">
                            <dxo-scrolling columnRenderingMode="virtual" showScrollbar="always"></dxo-scrolling>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.PAYMENT_NAME'| translate"
                                dataField="PaymentName"></dxi-column>
                            <!--    <dxi-column [caption]="_translate.instant('SELLING_MODULE.NORMAL_SALE.PAYMENT_TYPE')" dataField="PaymentType"></dxi-column> -->
                            <dxi-column width="auto"
                                [caption]="'SELLING_MODULE.NORMAL_SALE.DEFFEREDED_PAYMENT_COUNT'| translate"
                                dataField="DefferedPaymentCount"></dxi-column>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.RECEIPT'| translate"
                                dataField="Receipt"></dxi-column>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.AMOUNT'| translate"
                                dataField="Amount" format="currency">
                                <dxo-format type="currency" precision="2"></dxo-format>
                            </dxi-column>
                            <!-- <dxo-search-panel [visible]="true" [placeholder]="_translate.instant('COMMON.SEARCH')">
                    </dxo-search-panel> -->
                        </dx-data-grid>
                    </div>
                </dx-data-grid>

            </div>
        </div>
    </div>
</div>