.example-ripple-container {
    cursor: pointer;
    text-align: center;
    
    color: white;
    width: 300px;
    height: 300px;
    line-height: 300px;
    font-size: x-large;
  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }