<div id="maidDefenetion" class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <!-- <div class="top-bg accent"></div> -->
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <!-- <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">Full width with content scroll</h2>
        </div> -->
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8" style="font-size: x-large;    background-color: #293955;color: white;">
                <span>{{_translate.instant('STOCK_MODULE.MASTER_DATA.TITLE')}}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="p-24">
                <form class="kt-form kt-font-bold" [formGroup]="ProductForm" autocomplete="off">
                    <mat-form-field class="custom-css">
                        <input matInput formControlName="ProductName" autocomplete="off"
                            placeholder="{{_translate.instant('STOCK_MODULE.MASTER_DATA.PRODUCT_NAME')}}">
                            <mat-error *ngIf="hasError('ProductName', 'required')">
                                {{'VALIDATIONS.CONTROL_REQURIRED' | translate:{formName:_translate.instant('STOCK_MODULE.MASTER_DATA.PRODUCT_NAME')} }}
                            </mat-error>
                        <!-- <mat-hint align="start">Please enter your full name</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field class="ml-8 custom-css">
                        <input matInput formControlName="Price" type="number" min="0" autocomplete="off"
                            placeholder="{{_translate.instant('STOCK_MODULE.MASTER_DATA.PRICE')}}">
                            <mat-error *ngIf="hasError('Price', 'required')">
                                {{'VALIDATIONS.CONTROL_REQURIRED' | translate:{formName:_translate.instant('STOCK_MODULE.MASTER_DATA.PRICE')} }}
                            </mat-error>
                        <!-- <mat-hint align="start">Please enter your full name</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field class="ml-8 custom-css">
                        <input matInput formControlName="SellingPrice" min="0" type="number" autocomplete="off"
                            placeholder="{{_translate.instant('STOCK_MODULE.MASTER_DATA.SELLING_PRICE')}}">
                            <mat-error *ngIf="hasError('SellingPrice', 'required')">
                                {{'VALIDATIONS.CONTROL_REQURIRED' | translate:{formName:_translate.instant('STOCK_MODULE.MASTER_DATA.SELLING_PRICE')} }}
                            </mat-error>
                    </mat-form-field>
                    <mat-form-field class="ml-8 custom-css">
                        <mat-select matInput formControlName="Gender" autocomplete="off"
                            placeholder="{{_translate.instant('STOCK_MODULE.MASTER_DATA.GENDER')}}">
                            <mat-option *ngFor="let Gender of Genders" [value]="Gender.Value">
                                {{ Gender.ViewValue }}
                            </mat-option>
                            <mat-error *ngIf="hasError('Gender', 'required')">
                                {{'VALIDATIONS.CONTROL_REQURIRED' | translate:{formName:_translate.instant('STOCK_MODULE.MASTER_DATA.GENDER')} }}
                            </mat-error>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="ml-8 custom-css">
                        <input type="text" minlength="4" maxlength="4" pattern="^(19|20)\d\d$"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                            matInput formControlName="ProductYear" autocomplete="off"
                            placeholder="{{_translate.instant('STOCK_MODULE.MASTER_DATA.PRODUCT_YEAR')}}">
                            <mat-error *ngIf="hasError('ProductYear', 'required')">
                                {{'VALIDATIONS.CONTROL_REQURIRED' | translate:{formName:_translate.instant('STOCK_MODULE.MASTER_DATA.PRODUCT_YEAR')} }}
                            </mat-error>
                            <mat-error *ngIf="hasError('ProductYear', 'minlength')">
                                {{'VALIDATIONS.MIN_LENGTH' | translate:{'minLength': 4} }}
                            </mat-error>
                        <!-- <mat-hint align="start">Please enter your full name</mat-hint> -->
                    </mat-form-field>
                    <mat-form-field class="ml-8 custom-css">
                        <input type="text" minlength="5" maxlength="5"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                            matInput formControlName="ProductCode" autocomplete="off"
                            placeholder="{{_translate.instant('STOCK_MODULE.MASTER_DATA.PRODUCT_CODE')}}">
                            <mat-error *ngIf="hasError('ProductYear', 'required')">
                                {{'VALIDATIONS.CONTROL_REQURIRED' | translate:{formName:_translate.instant('STOCK_MODULE.MASTER_DATA.PRODUCT_CODE')} }}
                            </mat-error>
                        <!-- <mat-hint align="start">Please enter your full name</mat-hint> -->
                    </mat-form-field>


                    <mat-form-field class="ml-8 custom-css">
                        <mat-select formControlName="Color" autocomplete="off"
                            placeholder="{{_translate.instant('STOCK_MODULE.MASTER_DATA.COLOR_NAME')}}" required>
                            <mat-option *ngFor="let color of colorsList" [value]="color.Id">
                                {{ color.ColorName }}
                            </mat-option>
                            <mat-error *ngIf="hasError('Color', 'required')">
                                {{'VALIDATIONS.CONTROL_REQURIRED' | translate:{formName:_translate.instant('STOCK_MODULE.MASTER_DATA.COLOR_NAME')} }}
                            </mat-error>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="ml-8 custom-css">
                        <input type="number" minlength="2" maxlength="2" 
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                            formControlName="Size" matInput
                            placeholder="{{_translate.instant('STOCK_MODULE.MASTER_DATA.SIZE')}}">
                            <mat-error *ngIf="hasError('Size', 'required')">
                                {{'VALIDATIONS.CONTROL_REQURIRED' | translate:{formName:_translate.instant('STOCK_MODULE.MASTER_DATA.SIZE')} }}
                            </mat-error>
                        <!-- <mat-hint align="start">Please enter your full name</mat-hint> -->
                    </mat-form-field>

                    <mat-form-field class="ml-8 custom-css">
                        <input type="number" formControlName="Count" matInput min="1"
                            placeholder="{{_translate.instant('STOCK_MODULE.MASTER_DATA.COUNT')}}">
                            <mat-error *ngIf="hasError('Count', 'required')">
                                {{'VALIDATIONS.CONTROL_REQURIRED' | translate:{formName:_translate.instant('STOCK_MODULE.MASTER_DATA.COUNT')} }}
                            </mat-error>
                        <!-- <mat-hint align="start">Please enter your full name</mat-hint> -->
                    </mat-form-field>

                    <mat-form-field class="ml-8 custom-css">
                        <mat-select formControlName="Branch" autocomplete="off"
                            placeholder="{{_translate.instant('STOCK_MODULE.MASTER_DATA.BRANCH_NAME')}}">
                            <mat-option *ngFor="let branch of branchesList" [value]="branch.Id">
                                {{ branch.Name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                    <button [disabled]="!ProductForm.valid" class="ml-8" mat-raised-button color="primary"
                        (click)="AddRow()">{{_translate.instant('STOCK_MODULE.MASTER_DATA.ADD')}}</button>&nbsp;
                    <button [disabled]="!ProductForm.valid" mat-raised-button color="warn"
                        (click)="Fill()">{{_translate.instant('STOCK_MODULE.MASTER_DATA.FILL')}}</button>
                </form>

            </div>

            <!-- <div class="example-container mat-elevation-z8"> -->
            <dx-data-grid [remoteOperations]="true" #productsGrid [(selectedRowKeys)]="selectedProducts"
                [dataSource]="store" [allowColumnResizing]="true" [columnAutoWidth]="true" [showBorders]="true"
                (onToolbarPreparing)="onToolbarPreparing($event)">
                <dxi-column [allowFiltering]="false" [formItem]="{visible: false}" [allowEditing]="false"
                    [allowSorting]="false" cellTemplate="cellTemplate">
                </dxi-column>
                <dxi-column [caption]="_translate.instant('STOCK_MODULE.MASTER_DATA.PRODUCT_NAME')"
                    dataField="ProductName"></dxi-column>
                <dxi-column [caption]="_translate.instant('STOCK_MODULE.MASTER_DATA.PRODUCT_FULL_CODE')"
                    dataField="ProductFullCode" [allowEditing]="false"></dxi-column>
                <dxi-column [caption]="_translate.instant('STOCK_MODULE.MASTER_DATA.COLOR_NAME')" dataField="ColorId">
                    <dxo-lookup [dataSource]="colorsList" displayExpr="ColorName" valueExpr="Id">
                    </dxo-lookup>
                </dxi-column>
                <dxi-column dataType="boolean" [caption]="_translate.instant('STOCK_MODULE.MASTER_DATA.GENDER')"
                    dataField="Gender">
                    <dxo-lookup [dataSource]="Genders" displayExpr="ViewValue" valueExpr="Value">
                    </dxo-lookup>
                </dxi-column>
                <dxi-column [caption]="_translate.instant('STOCK_MODULE.MASTER_DATA.PRICE')" dataField="Price">
                </dxi-column>
                <dxi-column [caption]="_translate.instant('STOCK_MODULE.MASTER_DATA.SELLING_PRICE')"
                    dataField="SellingPrice">
                </dxi-column>
                <dxi-column [caption]="_translate.instant('STOCK_MODULE.MASTER_DATA.PRODUCT_YEAR')"
                    dataField="ProductYear"></dxi-column>
                <dxi-column [caption]="_translate.instant('STOCK_MODULE.MASTER_DATA.PRODUCT_CODE')"
                    dataField="ProductCode"></dxi-column>
                <dxi-column [caption]="_translate.instant('STOCK_MODULE.MASTER_DATA.SIZE')" dataField="Size">
                </dxi-column>
                <dxi-column [caption]="_translate.instant('STOCK_MODULE.MASTER_DATA.COUNT')" dataField="Count">
                </dxi-column>
                <dxi-column [caption]="_translate.instant('STOCK_MODULE.MASTER_DATA.BRANCH_NAME')" dataField="BranchId">
                    <dxo-lookup [dataSource]="branchesList" displayExpr="Name" valueExpr="Id">
                    </dxo-lookup>
                </dxi-column>
                <dxo-editing mode="form">
                </dxo-editing>
                <dxo-selection [selectAllMode]="'page'" [showCheckBoxesMode]="'always'" mode="multiple">
                </dxo-selection>
                <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                <dxo-search-panel [visible]="true" [width]="240"
                    [placeholder]="_translate.instant('STOCK_MODULE.MASTER_DATA.SEARCH')"></dxo-search-panel>
                <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-summary>
                    <dxi-total-item column="Count" summaryType="sum">
                    </dxi-total-item>
                </dxo-summary>
                <div *dxTemplate="let data of 'cellTemplate'">
                    <button (click)="DeleteFromColorTB(data.data)" mat-icon-button color="warn" matTooltip="Göster">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button (click)="ShowProductTag(data.data)" mat-icon-button color="primary" type="button"
                        matTooltip="Sil">
                        <mat-icon>remove_red_eye</mat-icon>
                    </button>
                    <!-- <button (click)="editRow(data)" mat-icon-button color="primary" type="button" matTooltip="Sil">
                        <mat-icon>edit</mat-icon>
                    </button> -->
                </div>

                <div *dxTemplate="let data of 'printButton'">
                    <button [disabled]="selectedProducts.length == 0" (click)="PrintButton(data)" mat-icon-button
                        color="primary" type="button" matTooltip="Sil">
                        <mat-icon>print</mat-icon>
                    </button>
                </div>
            </dx-data-grid>
            <!-- <mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="ProductName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Ürün Adı
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row;"> {{row.ProductName}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ProductFullCode">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Tam Kod
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row;"> {{row.ProductFullCode}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ColorName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Renk
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row;" [style.color]="row.ColorName">
                            {{row.ColorName}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Gender">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Cinsiyet
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row;"> {{getGendere(row.Gender)}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Price">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Fiyat
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row;"> {{row.Price}} TL </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ProductYear">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Yıl
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row;"> {{row.ProductYear}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ProductCode">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Ürün Kodu
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row;"> {{row.ProductCode}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Size">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Beden
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row;"> {{row.Size}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Count">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Adet
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row;"> {{row.Count}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="BranchName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Şube
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row;"> {{row.BranchName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row;">
                            <button (click)="DeleteFromColorTB(row)" mat-icon-button color="primary"
                                matTooltip="Göster">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button (click)="ShowProductTag(row)" mat-icon-button color="warn" type="button"
                                matTooltip="Sil">
                                <mat-icon>remove_red_eye</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
            <!-- </div> -->
            <!-- <eticket-template [barcodeValue]="BarcodeObject?.BarcodeValue" [Color]="BarcodeObject?.Color"
                [Date]="BarcodeObject.Date" [Price]="BarcodeObject.Price" [Size]="BarcodeObject?.Size">
            </eticket-template> -->
        </div>
    </div>
</div>