<div id="maidDefenetion" class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <!-- <div class="top-bg accent"></div> -->
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <!-- <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2 class="m-0">Full width with content scroll</h2>
        </div> -->
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar primary px-24 py-8">
                <span>{{_translate.instant('STOCK_MODULE.MASTER_DATA.TITLE')}}</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="p-24">
                <mat-form-field class="ml-3 width-10">
                    <mat-select [value]="ProductTypes[0]" placeholder="{{ _translate.instant('COMMON.PLEASE_SELECT')}}"
                        (valueChange)="ProductTypeChanged($event)" autocomplete="off">
                        <mat-option *ngFor="let productType of ProductTypes" [value]="productType">
                            {{ productType.Name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <dx-form #formInstance [items]="FormItems" id="form" [colCount]="'auto'">
                </dx-form>

            </div>

            <!-- <div class="example-container mat-elevation-z8"> -->
            <dx-data-grid (onSelectionChanged)="onProductManagerGridSelectChanged($event)"
                [columns]="ProductGridColumns" [remoteOperations]="true" #productsGrid
                [(selectedRowKeys)]="selectedProducts" [dataSource]="dataSource" [allowColumnResizing]="true"
                [columnAutoWidth]="true" [showBorders]="true" (onToolbarPreparing)="onToolbarPreparing($event)">
                <dxo-editing mode="form">
                </dxo-editing>
                <dxo-selection [selectAllMode]="'page'" [showCheckBoxesMode]="'always'" mode="multiple">
                </dxo-selection>
                <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                <dxo-search-panel [visible]="true" [width]="240"
                    [placeholder]="_translate.instant('STOCK_MODULE.MASTER_DATA.SEARCH')"></dxo-search-panel>
                <dxo-filter-row [visible]="true" [applyFilter]="'auto'"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-summary>
                    <dxi-total-item column="Count" summaryType="sum">
                    </dxi-total-item>
                    <dxi-total-item column="Price" summaryType="ProductPrice"
                        [valueFormat]="{type: 'currency', precision:'2'}">
                    </dxi-total-item>
                    <dxi-total-item column="SellingPrice" summaryType="ProductSellingPrice"
                        [valueFormat]="{type: 'currency', precision:'2'}">
                    </dxi-total-item>
                </dxo-summary>
                <div *dxTemplate="let data of 'cellTemplate'">
                    <button (click)="DeleteFromColorTB(data.data)" mat-icon-button color="warn" matTooltip="Göster">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button (click)="ShowProductTag(data.data)" mat-icon-button color="primary" type="button"
                        matTooltip="Sil">
                        <mat-icon>remove_red_eye</mat-icon>
                    </button>
                    <!-- <button (click)="editRow(data)" mat-icon-button color="primary" type="button" matTooltip="Sil">
                        <mat-icon>edit</mat-icon>
                    </button> -->
                </div>

                <div *dxTemplate="let data of 'increaseCount'">
                    <button (click)="increaseCountPopup(data.data, 'ADD')" mat-icon-button color="primary"
                        matTooltip="Göster">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button (click)="increaseCountPopup(data.data, 'REMOVE')" mat-icon-button color="primary"
                        matTooltip="Göster">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>

                <div *dxTemplate="let data of 'printButton'">
                    <button [disabled]="selectedProducts.length == 0" (click)="PrintButton(data)" mat-icon-button
                        color="primary" type="button">
                        <mat-icon>print</mat-icon>
                    </button>
                </div>
                <div *dxTemplate="let data of 'applyCampaignButton'">
                    <button [disabled]="selectedProducts.length == 0" (click)=" applyCampaign(data)" mat-icon-button
                        color="primary" type="button">
                        {{'STOCK_MODULE.PRODUCT_MANAGEMENT.APPLY_CAMPAIGN' | translate}}
                    </button>
                </div>
            </dx-data-grid>
        </div>
    </div>
</div>