<div class="content-card" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}" fxLayout="row"
    fxLayoutAlign="center center">

    <!-- CONTENT TOOLBAR -->
    <div class="toolbar primary px-24 py-8">
        <span>{{'SELLING_MODULE.CHANGE.TITLE'| translate}}</span>
    </div>
    <!-- / CONTENT TOOLBAR -->


    <div class="mb-24 p-4" style="background-color: white;" fxLayout="column" fxLayoutAlign="start"
        fxLayout.gt-md="row">
        <span class="status h5 p-4 orange-100">{{'SELLING_MODULE.CHANGE.REFUND_INFO' | translate}}<br></span>
        <span class="status h5 p-4 orange-100">{{'SELLING_MODULE.CHANGE.CHANGE_INFO' | translate}}</span>



        <dx-box direction="row" width="100%">
            <dxi-item [ratio]="1">
                <div class="dx-fieldset">
                    <div class="dx-field">
                        <div class="dx-field-label">{{'SELLING_MODULE.CHANGE.CHOOSE_CUSTOMER' | translate}}</div>
                        <dx-select-box [dataSource]="customersSelectBoxDatasource" [searchEnabled]="true" valueExpr="Id"
                            displayExpr="CustomerName" [searchExpr]="['CustomerName','AccentInsensitiveCustomerName']"
                            (onValueChanged)="onCustomerInfoValueChanged($event)">
                        </dx-select-box>
                    </div>
                </div>


                <dx-data-grid id="gridContainer" #purchasedProducts [columnAutoWidth]="true"
                    [allowColumnResizing]="true" [allowColumnReordering]="true" id="gridContainer"
                    [dataSource]="purchasedProductsDS"
                    (onSelectionChanged)="purchasedProductsDetailsGridSelectionChanged($event)" [showBorders]="true"
                    [masterDetail]="{ enabled: false, template: 'detail' }">
                    <dxo-scrolling columnRenderingMode="virtual" showScrollbar="always"></dxo-scrolling>
                    <dxo-selection mode="single"></dxo-selection>
                    <dxi-column [caption]="'SELLING_MODULE.CHANGE.CUSTOMER_NAME' | translate"
                        dataField="CustomerInfo.CustomerName">
                    </dxi-column>
                    <dxi-column [caption]="'SELLING_MODULE.CHANGE.CUSTOMER_PHONE' | translate"
                        dataField="CustomerInfo.CustomerPhone">
                    </dxi-column>
                    <dxi-column [caption]="'SELLING_MODULE.CHANGE.DATE' | translate" dataType="date" dataField="Date"
                        format="dd.MM.yyyy, HH:mm"></dxi-column>
                    <dxo-paging [pageSize]="5"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="false" [showInfo]="true">
                    </dxo-pager>

                    <div *dxTemplate="let saleDetails of 'detail'">
                        <dx-data-grid #paymentDetailGrid [showColumnLines]="false" [showRowLines]="true"
                            [showBorders]="true" [rowAlternationEnabled]="true"
                            [dataSource]="saleDetails.data.SalePaymentMethods" [showBorders]="true"
                            [allowColumnResizing]="true" [allowColumnReordering]="true" [columnAutoWidth]="true"
                            class="mt-5">
                            <dxo-scrolling columnRenderingMode="virtual" showScrollbar="always"></dxo-scrolling>
                            <dxi-column [caption]="'SELLING_MODULE.CHANGE.PAYMENT_NAME'  | translate"
                                dataField="PaymentMethod.PaymentName">
                            </dxi-column>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.CHANGE.AMOUNT'| translate"
                                dataField="Amount" format="currency">
                                <dxo-format type="currency" precision="2"></dxo-format>
                            </dxi-column>
                            <dxi-column [caption]="'SELLING_MODULE.CHANGE.DEFFEREDED_PAYMENT_COUNT' | translate"
                                dataField="DefferedPaymentCount">
                            </dxi-column>
                        </dx-data-grid>
                        <dx-data-grid #purchasedProductsDetailsGrid [(selectedRowKeys)]="selectedRows"
                            [showColumnLines]="false" [showRowLines]="true" [showBorders]="true"
                            [rowAlternationEnabled]="true" [columnAutoWidth]="false"
                            [dataSource]="saleDetails.data.SaleDetailsAndProducts" [wordWrapEnabled]="true">
                            <dxi-column width="auto" cellTemplate="returnButtonTemplate"
                                [caption]="'SELLING_MODULE.NORMAL_SALE.RETURN' | translate">
                            </dxi-column>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.CHANGE.OPERATION' | translate"
                                dataField="Operations">
                                <dxo-lookup [dataSource]="Operations" displayExpr="Value" valueExpr="Id">
                                </dxo-lookup>
                            </dxi-column>

                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.PRODUCT_NAME' | translate"
                                dataField="Product.ProductName"></dxi-column>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.SELLING_PRICE' |translate"
                                dataField="Price" format="currency">
                                <dxo-format type="currency" precision="2"></dxo-format>
                            </dxi-column>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.PRODUCT_CODE' | translate"
                                dataField="Product.ProductCode"></dxi-column>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.COLOR_NAME' |translate"
                                dataField="Product.Color.ColorName"></dxi-column>
                            <dxi-column width="auto" cellTemplate="cellTemplate"
                                [caption]="'SELLING_MODULE.NORMAL_SALE.GENDER'|translate" dataField="Gender">
                            </dxi-column>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.PRODUCT_YEAR'|translate"
                                dataField="Product.ProductYear" [format]="'yyyy'" dataType="date"></dxi-column>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.SIZE'|translate"
                                dataField="Product.Size"></dxi-column>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.PRODUCT_COUNT'|translate"
                                dataField="ProductCount"></dxi-column>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.PRODUCT_BARCODE'|translate"
                                dataField="Product.ProductBarcode"></dxi-column>
                            <dxi-column width="auto" [caption]="'SELLING_MODULE.NORMAL_SALE.BRANCH_NAME'|translate"
                                dataField="Product.Branch.Name"></dxi-column>
                            <div *dxTemplate="let data of 'cellTemplate'">
                                {{data.value ? ('COMMON.FEMALE'|translate) : ('COMMON.MALE'|translate)}}
                            </div>
                            <div *dxTemplate="let row of 'returnButtonTemplate'">
                                <button [disabled]="row.data.Operations != 0 && row.data.Operations != 3"
                                    (click)="AddToReturn(row.data)" color="success">
                                    {{ (row.data?.AddedToRefunList ? 'SELLING_MODULE.CHANGE.REDO' :
                                    'SELLING_MODULE.CHANGE.RETURN_OR_REFUND') | translate}}
                                </button>
                            </div>
                        </dx-data-grid>
                    </div>

                </dx-data-grid>
            </dxi-item>
            <dxi-item [ratio]="1">
                <form class=" p-4 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
                    [formGroup]="ProductAndPriceFormGroup" autocomplete="off">
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                            <input #productCode type="text" minlength="12" maxlength="12"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                (focusout)="productCodeFocusOut()" (change)="focusOutWhenProductCodeEntered($event)"
                                formControlName="ProductBarcode" id="ProductBarcode" matInput
                                [placeholder]="'SELLING_MODULE.NORMAL_SALE.PRODUCT_CODE'|translate">
                            <mat-error *ngIf="hasError('ProductBarcode', 'required')">
                                {{'VALIDATIONS.CONTROL_REQURIRED' | translate:{formName:
                                'SELLING_MODULE.NORMAL_SALE.PRODUCT_CODE'|translate} }}
                            </mat-error>
                            <mat-error *ngIf="hasError('ProductBarcode', 'maxlength')">
                                {{'VALIDATIONS.MAX_LENGTH' | translate:{'maxLength': 12} }}
                            </mat-error>
                            <mat-error *ngIf="hasError('ProductBarcode', 'minlength')">
                                {{'VALIDATIONS.MIN_LENGTH' | translate:{'minLength': 12} }}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                            <input type="number" #PriceInput formControlName="SellingPrice" id="SellingPrice" matInput
                                placeholder="{{'SELLING_MODULE.NORMAL_SALE.SELLING_PRICE'|translate}}" min="1">
                            <mat-error *ngIf="hasError('SellingPrice', 'required')">
                                {{'VALIDATIONS.CONTROL_REQURIRED' | translate:{formName:
                                'SELLING_MODULE.NORMAL_SALE.SELLING_PRICE'|translate} }}
                            </mat-error>
                        </mat-form-field>
                        <span class="status h6 p-4" [ngClass]="'red-500'" *ngIf="lowProductCount">
                            {{'SELLING_MODULE.NORMAL_SALE.REMAINING_PRODUCTS_COUNT' | translate:{'count':
                            newAddedProductToTake.Count} }}
                        </span>
                        <span class="status h6 p-4 ml-8" [ngClass]="'amber-500'" *ngIf="hasCampaign">
                            {{'SELLING_MODULE.NORMAL_SALE.CAMPAING_PRODUCT' | translate:{'CampaignName':
                            newAddedProductToTake.CampaignDto?.Name} }}
                        </span>
                    </div>
                    <button class="ml-8"
                        [disabled]="!ProductAndPriceFormGroup.valid || !isProductExist || !isProductCountEnough"
                        mat-raised-button (click)="AddProduct()" color="primary">{{'COMMON.ADD'|translate}}</button>

                </form>

                <dx-data-grid [columnAutoWidth]="true" [allowColumnResizing]="true" [allowColumnReordering]="true"
                    #productsToChangeWith id="gridContainer" [dataSource]="ProductsToSellDataSource"
                    [showBorders]="true">
                    <dxo-scrolling columnRenderingMode="virtual" showScrollbar="always"></dxo-scrolling>
                    <dxi-column [width]="100" [allowFiltering]="false" [allowSorting]="false"
                        cellTemplate="cellTemplate">
                    </dxi-column>
                    <dxi-column [caption]="'SELLING_MODULE.NORMAL_SALE.PRODUCT_NAME'|translate" dataField="ProductName">
                    </dxi-column>
                    <dxi-column [caption]="'SELLING_MODULE.NORMAL_SALE.PRODUCT_BARCODE'|translate"
                        dataField="ProductBarcode">
                    </dxi-column>
                    <dxi-column [caption]="'SELLING_MODULE.NORMAL_SALE.COLOR_NAME'|translate"
                        dataField="Color.ColorName">
                    </dxi-column>
                    <dxi-column [caption]="'SELLING_MODULE.NORMAL_SALE.GENDER'|translate" dataField="Gender">
                        <dxo-lookup [dataSource]="Genders" displayExpr="ViewValue" valueExpr="Value">
                        </dxo-lookup>
                    </dxi-column>
                    <dxi-column [caption]="'SELLING_MODULE.NORMAL_SALE.SELLING_PRICE'|translate"
                        dataField="SellingPrice" format="currency">
                        <dxo-format type="currency" precision="2"></dxo-format>
                    </dxi-column>
                    <dxi-column [caption]="'SELLING_MODULE.NORMAL_SALE.PRODUCT_YEAR'|translate" dataField="ProductYear">
                    </dxi-column>
                    <dxi-column [caption]="'SELLING_MODULE.NORMAL_SALE.PRODUCT_CODE'|translate" dataField="ProductCode">
                    </dxi-column>
                    <dxi-column [caption]="'SELLING_MODULE.NORMAL_SALE.SIZE'|translate" dataField="Size">
                    </dxi-column>
                    <dxi-column [caption]="'SELLING_MODULE.NORMAL_SALE.BRANCH_NAME'|translate" dataField="BranchName">
                    </dxi-column>


                    <div *dxTemplate="let row of 'cellTemplate'">
                        <button (click)="DeleteFromProductsToSellTable(row.data)" mat-icon-button color="primary">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>

                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    <dxo-search-panel [visible]="true" [placeholder]="'COMMON.SEARCH'|translate">
                    </dxo-search-panel>
                    <dxo-group-panel [visible]="false"></dxo-group-panel>
                </dx-data-grid>
            </dxi-item>
        </dx-box>


    </div>

    <!-- CONTENT TOOLBAR -->
    <div class="toolbar primary px-24 py-8">
        <span>{{'SELLING_MODULE.CHANGE.NEW_PRODUCTS'|translate}}</span>
    </div>
    <!-- / CONTENT TOOLBAR -->


    <div class="mb-24 p-4" style="background-color: white;" fxLayout="column" fxLayoutAlign="start"
        fxLayout.gt-md="row">
        <dx-box direction="row" width="100%">
            <dxi-item [ratio]="1">

            </dxi-item>
            <dxi-item [ratio]="1">

            </dxi-item>
            <dxi-item [ratio]="3">
                <div class="form">
                    <div class="dx-fieldset">
                        <!-- <div class="dx-fieldset-header">Simple Field Set</div> -->
                        <div class="dx-field">
                            <div class="dx-field-label">
                                {{'SELLING_MODULE.CHANGE.TOPLAM_OF_PRODUCTS_TO_RETURN' | translate}}:</div>
                            <div class="dx-field-value">
                                {{SumOfProductsToReturn}} TL
                            </div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-label"> {{'SELLING_MODULE.CHANGE.TOPLAM_OF_NEW_PRODUCTS' | translate}}:
                            </div>
                            <div class="dx-field-value">{{SumOfProductsToBeTakenInstead}} TL</div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="dx-field">
                            <div class="dx-field-label">{{'SELLING_MODULE.CHANGE.TOTAL' | translate}}:</div>
                            <div class="dx-field-value">
                                {{Math.round(Math.abs(SumOfProductsToReturn - SumOfProductsToBeTakenInstead) * 100 /
                                100)}} TL
                                ({{SumOfProductsToReturn - SumOfProductsToBeTakenInstead > 0 ? "Verilecek" : "Alınacak"
                                }})
                            </div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-value">
                                <button mat-raised-button [disabled]="SumOfProductsToReturn == 0"
                                    (click)="openSatisDialog(purchasedProducts)"
                                    color="primary">{{(ProductsToSellTableRows.length >
                                    0? 'SELLING_MODULE.CHANGE.CHANGE_BUTTON':'SELLING_MODULE.CHANGE.RETURN_BUTTON') |
                                    translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </dxi-item>
        </dx-box>
    </div>
</div>